@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body
{
    font-family: 'Muli',sans-serif;
    color: white;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('https://images.pexels.com/photos/3873856/pexels-photo-3873856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    z-index: -2;
    position: relative;
}

body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0,0, 0.5);
    z-index: -1;
}

.backbutton
{
    position: absolute;
    top: 20px;
    left: 30px;
}

.backbutton button
{
    padding: 0;
    border: none;
    background: none;
    font-size: 35px;
    cursor: pointer;
    color: white;
}

.backbutton :active
{
    transform: scale(0.96);
}

.backbutton :hover
{
    color: orange;
}

.container
{
    background-color: rgba(0,0,0,0.6);
    padding: 20px 90px 20px 60px;
    border-radius: 5px;
}
.container h1
{
    /* text-align: center; */
    margin-bottom: 30px;
}

.form-contact
{
    position: relative;
    margin: 20px 10px;
    width: 300px;
}

.form-contact input
{
    background-color: transparent;
    border: 0;
    border-left: 5px white solid;
    display: block;
    width: 70%;
    padding: 10px 10px;
    font-size: 14px;
    margin-block: 40px;
    color: white;
}

.form-contact input:focus, 
.form-contact input:valid
{
    outline: 0;
    border-left-color:orange ;
}

.form-contact-right
{
    position: relative;
    margin: 20px -70px -80px 300px;
    width: 300px;
    top: -76px;
}

.form-contact-right input
{
    background-color: transparent;
    border: 0;
    border-left: 5px white solid;
    display: block;
    width: 70%;
    padding: 10px 10px;
    font-size: 14px;
    margin-block: 40px;
    color: white;
}

.form-contact-right input:focus, 
.form-contact-right input:valid
{
    outline: 0;
    border-left-color:orange ;
}

.form-contact-below
{
    position: relative;
    margin: 20px 10px;
    width: 300px;
}

.form-contact-below textarea
{
    background-color: transparent;
    border: 0;
    border-left: 5px white solid;
    display: block;
    width: 170%;
    padding: 10px 10px;
    font-size: 14px;
    margin-block: 40px;
    color: white;
}

.form-contact-below textarea:focus, 
.form-contact-below textarea:valid
{
    outline: 0;
    border-left-color: orange;
}

#messagebox
{
    resize: none;
}

.sendbutton
{
    cursor: pointer;
    display: inline-block;
    width: 26%;
    background-color: orange;
    padding: 15px;
    font-family: 16px;
    border:0;
    border-radius: 20px;
    font-family: inherit;
    margin-left: 300px;
}

.sendbutton:focus{
    outline: 0;
}

.sendbutton:active{
    transform: scale(0.96);
}

.text
{
    margin-top: 25px;
}

.info
{
    background-color: orange;
    padding: 20px 70px;
    border-radius: 5px;
    position: relative;
    margin: -21px -90px -469px 575px;
    width: 350px;
    height: 500px !important;
    top: -450px;
}

.info h1
{
    margin-top: 20px;
    margin-left: -30px;
}

.info p
{
    margin-left: -27px;
    color: black;
}

/* Dataroots make form placeholder transparent on focus css method */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 8 and older ;) */