@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*=======Light/Dark theme button=======*/
.theme-btn {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 100px;
  background: var(--transparent-color-01);
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.theme-btn .fa-sun,
.theme-btn.sun .fa-moon {
  display: none;
}

.theme-btn.sun .fa-sun {
  display: block;
}

.backbutton {
  position: absolute;
  top: 20px;
  left: 30px;
}

.backbutton button {
  padding: 0;
  border: none;
  background: none;
  font-size: 35px;
  cursor: pointer;
  color: white;
}

.backbutton :active {
  transform: scale(0.96);
}

.backbutton :hover {
  color: orange;
}

body {
  color: black;
  background: var(--body-bg-color);
  transition: 0.5s ease;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.backbutton {
  position: absolute;
  top: 20px;
  left: 30px;
}

.backbutton button {
  padding: 0;
  border: none;
  background: none;
  font-size: 35px;
  cursor: pointer;
  color: white;
}

.backbutton :active {
  transform: scale(0.96);
}

.backbutton :hover {
  color: orange;
}

.container {
  background-color: var(--container-color);
  padding: 10px 40px;
  border-radius: 5px;
  width: 600px;
  height: 550px;
  position: relative;
  margin: 6% auto;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.input-login {
  top: 160px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.form-control {
  position: relative;
  margin: 0px 0 10px;
  left: 0px;
  top: -50px;
  width: 300px;
  background: transparent;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px white solid;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  margin-block: 40px;
  color: white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: orange;
}

.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: orange;
  padding: 15px;
  font-family: 16px;
  border: 0;
  border-radius: 30px;
  font-family: inherit;
  left: 10px;
  top: -60px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.96);
}

.text {
  margin-top: 25px;
}

.form-control label {
  position: absolute;
  top: -20px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 14px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* + label span mean direct to label span from js */
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: orange;
  transform: translateY(-35px);
  /* moving up -number / moving down + number */
}

.upload{
  width: 125px;
  position: relative;
  margin: auto;
  right: -160px;
  bottom: 30px;
}

.upload img{
  border-radius: 50%;
  border: 8px solid #DCDCDC;
}

.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: orange;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 120%;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}
