@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* /=======Light/Dark theme button=======/ */
.theme-btn {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 100px;
  background: var(--transparent-color-01);
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.theme-btn .fa-sun,
.theme-btn.sun .fa-moon {
  display: none;
}

.theme-btn.sun .fa-sun {
  display: block;
}

body {
  color: var(--first-color);
  background: var(--body-bg-color);
  /* margin: 2rem 0 0 0; */
  transition: 0.5s ease;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #0e1b31; */
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  height: 100vh;
  padding-right: 20px;
  padding-top: 50px;
}

/* .container1{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */

/* /Styles for product card/*/
.product .product-card {
  z-index: 1;
  background: var(--card-color);
  position: relative;
  width: 200px;
  height: 250px;
  margin: 40px;
  border-radius: 10px;
}

.product .product-card:before {
  content: "";
  background: var(--card-color2);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .product-card .product-img {
  z-index: 1;
  position: absolute;
  max-width: 200px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product .product-card .name {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 20px;
  letter-spacing: 1px;
}

.product .product-card .price {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 80px;
  font-size: 30px;
  font-weight: 300;
}

.product .product-card .popup-btn {
  z-index: 2;
  color: var(--font-color);
  background: var(--btn-color);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 4px 15px;
  border-radius: 10px;
  cursor: pointer;
}
/* 
Styles for popup view  */
.product .popup-view {
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.product .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.product .popup-card {
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px;
}

.product .popup-card .product-img {
  z-index: 2;
  background: #1d212b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .popup-card .product-img img {
  z-index: 2;
  position: relative;
  width: 450px;
  left: -50px;
}

.product .popup-card .info {
  z-index: 2;
  background: white;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
  color: black;
}

.product .popup-card .close-btn {
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.product .popup-card .info h2 {
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}

.product .popup-card .info h2 span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product .popup-card .info p {
  font-size: 15px;
  margin: 10px;
}

.product .popup-card .info .price {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

.product .popup-card .info .add-cart-btn {
  position: relative;
  color: #fff;
  background: #009dd2;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 30px;
  border-radius: 20px;
}

.product .popup-card .info .add-wish {
  color: #009dd2;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

/* Responsive styles */
@media (max-width: 900px) {
  .product .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
  }

  .product .popup-card .product-img {
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .product .popup-card .product-img img {
    left: initial;
    max-width: 100%;
  }

  .product .popup-card .info {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .product .popup-card .info h2 {
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }

  .product .popup-card .info h2 span {
    font-size: 10px;
  }

  .product .popup-card .info p {
    margin: 5px;
    font-size: 13px;
  }

  .product .popup-card .info .price {
    margin: 5px;
    font-size: 30px;
  }

  .product .popup-card .info .add-cart-btn {
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }

  .product .popup-card .info .add-wish {
    font-size: 14px;
  }

  .product .popup-card .close-btn {
    z-index: 4;
  }
}

.product .popup-card .info .button .add-cart-btn {
  position: absolute;
  justify-content: space-between;
  display: inline-flex;
  /* margin-top: 260px; */
  margin-bottom: 20px;
  left: 450px;
}

/* .product .popup-card .info .button .but1 .add-cart-btn {
  justify-content: space-between;
  font-size: 80%;
  margin-right: 100px;
  margin-left: 20px;
  cursor: not-allowed;
} */

.product .popup-card .info .button .but2 .add-cart-btn {
  justify-content: space-between;
  font-size: 80%;
  margin-left: 180px;
}

.product .popup-card .info .button .but1 .add-cart-btn {
  justify-content: space-between;
  font-size: 80%;
  margin-right: 100px;
  margin-left: 20px;
}

/* .product .popup-card .info .button#blur.active .add-cart-btn {
  filter: blur(20px);
} */

.container#blur.active {
  filter: blur(20px);
}

.product .popup-card .info .button .but2 .add-cart-btn {
  justify-content: space-between;
  font-size: 80%;
  margin-left: 180px;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  padding: 50px;
  height: 550px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: white;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  border-radius: 15px;
}

#popup .add-cart-btn {
  position: fixed;
  color: #fff;
  background: #009dd2;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px auto;
  padding: 7px 20px;
  border-radius: 20px;
  top: 20px;
  left: 1100px;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 4;
}

/* #popup th {
  height: 7vh;
  width: 70vw;
  max-width: 70vw;
  text-align: center;
  align-content: center;
  justify-content: space-between;
  
} */

#popup table {
  top: 130px;
  position: fixed;
  height: 10vh;
  width: 65vw;
  max-width: 70vw;
  text-align: center;
  align-content: center;
  /* justify-content: space-between; */
}

#popup .table1 {
  position: fixed;
  top: 360px;
}

#popup .lolo {
  position: fixed;
  top: 315px;
}

/* #popup .table1 table {
  top: 200px;
  position: fixed;
  height: 10vh;
  width: 65vw;
  max-width: 70vw;
  text-align: center;
  align-content: center; */
/* justify-content: space-between; */

/* #popup .table1 .table {
  position: relative;
} */

#popup td:nth-child(1) {
  /* position: absolute; */
  padding: 13px 0 0 0;
  width: 7vw;
}

#popup td:nth-child(2) {
  /* position: absolute; */
  padding: 13px 0 0 20px;
}

#popup td:nth-child(3) {
  /* position: absolute; */
  padding: 13px 0 0 20px;
}

#popup td:nth-child(4) {
  /* position: absolute; */
  padding: 13px 0 0 20px;
}

#popup h1 {
  margin-bottom: 5px;
  margin-top: -20px;
}

/* #popup th{
  width: 60vw;
} */

/* #popup .form1 .add-card-btn{
  z-index: 5;
  padding: 500px;
} */

#popup .newbtn1 .deletebtn {
  z-index: 4;
  position: relative;
  color: #fff;
  background: #009dd2;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 5px 15px;
  border-radius: 20px;
  top: 235px;
  left: 1030px;
  border: none;
  cursor: pointer;
}

#popup .newbtn .deletebtn {
  z-index: 4;
  position: relative;
  color: #fff;
  background: #009dd2;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 5px 15px;
  border-radius: 20px;
  top: 45px;
  left: 1030px;
  border: none;
  cursor: pointer;
}

#popup .newbtn .form1 .deletebtn {
  position: absolute;
}

#popup .newbtn1 .form1 .deletebtn {
  position: absolute;
}

#popup .container123 {
  position: relative;
}

/* .page-btn {
  color: #fff;
  background: #009dd2;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 30px;
  border-radius: 20px;
}

.container-page {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  width: 150px;
  height: 30vh;
  top: 450px;
  cursor: pointer;
} */